.btn-create {
    position: absolute;
    top: 3rem;
    left: 3rem;
    padding: 10px;
}

.btn-logout {
    position: absolute;
    top: 3rem;
    right: 3rem;
    padding: 10px;
    transition: transform 0.3s ease-in-out;

}

.btn-logout:hover {
    transform: scale(1.15);
}

.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 0.3s ease;
}

.navbar.scrolling{
    background-color: rgba(15, 15, 15, 0.3);
}
