@font-face {
  font-family: 'SweetieBubbleGum';
  src: url(../../../images/Fonts/SweetieBubbleGum-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container-landing {
    background-image: url(../../../images/Intro-GIF.gif);
    background-size: cover;
    background-position: top;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 49.85vw;
    justify-content: center;
    position: relative;

  }

  .bienvenida {
    margin-top: 60vh;
    margin-bottom: 4vh;
    display: flex;
    justify-content:space-around;
  }
  
  .bienvenida h1 {
    width: 200%;
    font-size: 8vh;
    font-family: 'SweetieBubbleGum';
    color: antiquewhite;
  }
  