@font-face {
  font-family: "jeje";
  src: url(../../../images/Fonts/MADE\ TOMMY\ Medium_PERSONAL\ USE.otf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10vh;
  margin-right: 10vh;
}

.btn-pagination, .btn-pagination:disabled {
  border: none;
  outline: none;
  border-radius: 30px;
  font-family: "jeje";
  font-size: 6vh;
  padding: 0px 23px 4px;
  cursor: pointer;
  letter-spacing: 0px;
  background-color: #c4a951;
  color: #fcfafa;
}

.btn-pagination:disabled {
  background-color: #ccc;
  color: #666;
}