.pokemon-detail-container{
    display: flex;

}
.detail-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9.4vh;
    background-color: #00000073;
}

.card-detail {
    display: grid;
    gap: 5vh;
    padding: 2vh;
    margin: 0 5vh;
    z-index: 2;
    overflow: hidden;
}

.characteristics {
    position: relative;
    color: #2e2626;
    background-color: #d5f8c8dd; 
    border-radius: 15px;
    height: 50vh;
    width: 36vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2em;
    margin: 5vh;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    line-height: 2em;
    box-shadow:  1vh 1vh 5vh #5d6150;
    border: solid 5px #42383871;
    justify-content: center;
    transition: background-color 0.5s ease-in-out; 

    &:hover {
        background-color: #d0fdff;
    }
}

.containerName {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vh;
    min-width: 50vh;
    width: 100%;
    margin-top: 1vh;
    margin-left: 30vh;
    margin-bottom: 5vh;
    color: #ffffff;
    overflow:hidden;
    transition: transform 0.4s ease-in-out;

    &:hover{
        transform: scale(1.05)
    }
}

.img-pokemon {
    max-width: 80vh;
    min-width: 50vh;
    width: auto;
    height: auto;
    transition: transform 0.5s ease-in-out;

    &:hover{
        transform: scale(1.25)
    }
}

.name {
    font-family: 'Coda', sans-serif;
    font-size: 7vh;
    color: #ffffff; 
    text-shadow: 0 0 5px #09080a;
    text-transform: capitalize;
    padding: 0px;
    z-index: 1;
}

.type {
    font-family: 'Coda', sans-serif;
    display: flex;
    text-decoration:overline;
    justify-items: center;
    color: #fff;
}

