.detail-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
    background-color: rgb(255 0 0 / 62%);
}



.img-pokemon {
    width: 30em;
    margin-top: 25px;
    background-image: url(../../../images/Grass.jpg);
    border-style: none;
}



.card-detail {
    display: flex;
    height: 5em;
    justify-content: center;
    margin: 15px;
    margin-top: 4em;
    align-items: center;
    padding-top: 0px;
    z-index: 2;
}

.detail-fondo{
    display: flex;
    height: 30em;
    justify-content: center;
    margin:auto;
    margin-top:auto;
    align-items:normal;
    padding-top: 0px;
    z-index: 2;
    background-image: url(../../../images/Grass.jpg);
}

.minicontainer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 15px;
    padding: 0px;
}

.minicontainer2{
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    margin-top: 90px;
    z-index: 1;    
}

.name{
    font-family: 'Coda', sans-serif;
    font-size: 4em;
    color: rgb(250, 250, 250);
    text-shadow: 0 0 15px #09080a;
    padding: 0px;
    z-index: 1;
}

.type{
    display: flex;
    padding:none;
    justify-items: center;
}

.imagecontainer{
    justify-content: top;
    margin-bottom: 6em;
    margin-left: 6em;
}

.characteristics{
    color: #34313f;
    background-color: rgb(237, 131, 131);
    border-radius: 15px;
    height: 8cm;
    width: 6cm;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Coda', sans-serif;
    font-weight: bold;
    line-height: 2em;
    text-shadow: 0.5em 0.5em 1em #ffffff;
    margin-top: 10em;
    margin-bottom: 1em;
    box-shadow: 25px 10px 6px #665a72;
    border: solid 5px rgb(75, 74, 74);
    justify-content: center;
}