.form-group{
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #555;
    padding: 15px 20px;
    border-radius: 25px;
}

.form-group input{
    font-family: inherit;
    width: 300px;
    border: none;
    outline: none;
    font-size: 15px;
    padding-bottom: 15px;
}

.btn-search{
    border: none;
    outline: none;
    border-radius: 25px;
    font-family: inherit;
    padding: 15px 30px;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: #04778fc9;
    color: #fcfafa;
    transition: transform 0.3s, filter 0.3s;
}

.btn-search:hover{
    background-color: #fcfafa;
    color: #04788f;
    transform: scale(0.9);
    
}